@font-face {
  font-family: 'Stark';
  src: url('fonts/Stark.eot');
  src: local('☺'), url('fonts/Stark.woff') format('woff'), url('fonts/Stark.ttf') format('truetype'), url('fonts/Stark.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #333333;
  font-family: 'Arial', sans-serif;
}

#resNav {
  display: none;
  &:after {
    content: ".";
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
    display: block;
  }
}

#normNav {
  &:after {
    content: ".";
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
    display: block;
  }
}

  .wrapper {
    width: 960px;
    height: auto;
    margin: 0 auto;
    header {
      margin-top: 15px;
    }
    #top {
      margin-top: 15px;
      display: block;
      color: #fff;
      #pageTitle {
        padding: 10px;
        font-family: 'Alegreya Sans', Arial, sans-serif;
        font-size: 1.863em;
        background: #ce1a1a;
        position: relative;
        z-index: 100;
        border-bottom: 1px solid #c32121;
        box-shadow: 0px 5px 12px -3px rgba(0, 0, 0, 0.3);
      }
      #nav {
        background: #870909;
        position:relative;
        z-index: 10;
        ul {
          list-style: none;
          padding: 0;
          li {
            padding: 10px 15px;
            float: left;
            cursor: pointer;
            &:hover, &.active {
              background: #ce1a1a;
            }
          }
          a {
            font-size: 0.875em;
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
    #content {
      margin-top: 15px;
      background: #ececec;
      padding: 15px;
      font-size: 0.938em;
      min-height: 300px;
      line-height: 140%;
      h1 {
        color: #333;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 10px;
      }
      h2 {
        color: #333;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 7px;
      }
      h3 {
        color: #999;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 5px;
      }
    }
  }

@media screen and (max-width: 950px) {
  #resNav {
    display: block;
    padding: 10px 5px;
    #navText {
      margin-top: 5px;
      font-weight: bold;
    }
    #navIcon {
      font-size: 25px;
      cursor: pointer;
    }
  }
  #normNav {
    display: none;
  }

  img {
    max-width: 100%;
  }
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }


  td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    text-align: center;
    color: transparent;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .wrapper {
    width: 100%;
    #logo {
      width: 259px;
      margin: 0 auto;
    }
    #top {
      text-align: center;
    }
  }
  .wrapper #top #nav ul li {
    float: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 15px 10px;
    border-bottom: 1px solid #CE1A1A;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
}



